<div class="container">
    <div class="d-flex m-5">
        <div class="flex-column justify-content-center w-100" >
            <h1 class="text-center">URL Shortener</h1>
            <img class="mx-auto mt-4 d-block" width="100px" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
            <div class="d-flex flex-column justify-content-center mt-5">
                <h3 class="text-center text-success bg-success-50">Success! Please use this link:</h3>
                <a href="{{originalLink}}" class="text-center">{{shortLink}}</a>
                <form class="m-2" action="/" method="get">
                    <center><button type="submit" class="btn btn-primary mt-2" style="width: 150px;">back</button></center> 
                </form>
            </div>
         </div>
    </div>    
</div>
